
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Angular test</title>
</head>
<body>
  <div class="wrapper">
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>    
  </div>
<div>
  <h2 class="header1">All Patients</h2>
  <table id="patients">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Doctor ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.country }}</td>
        <td>{{ patient.doctorId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="header2">Get Doctor Patients</h2>
<div>
  <div class="input-group">    
    <input type="text" [(ngModel)]="getDoctorPatientsId" class="input" required/><br/> 
    <label class="input-label">DoctorId</label>   
  </div>
  <button (click)="getDoctorPatients(); clearInput()"class="button-style">Get Doctor Patients</button>
  
  <table id="doctorsPatients">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Doctor ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of doctorPatients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.country }}</td>
        <td>{{ patient.doctorId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="header2">Add New Patient</h2>
<span *ngIf="showDoctorIdError" class="error-message">Doctor ID is required.</span><br/>
<div class="input-group">    
  <input type="text" [(ngModel)]="newPatient.name" class="input" (input)="checkInputValue('name')"/><br/>
  <label class="input-label" [class.input-filled]="newPatient.name !== ''">Name</label>
</div>
<div class="input-group"> 
  <input type="text" [(ngModel)]="newPatient.email" class="input" (input)="checkInputValue('email')"/><br/>
  <label class="input-label" [class.input-filled]="newPatient.email !== ''">Email</label> 
</div>
<div class="input-group">
  <input type="text" [(ngModel)]="newPatient.country" class="input" (input)="checkInputValue('country')"/><br/>
  <label class="input-label" [class.input-filled]="newPatient.country !== ''">Country</label> 
</div>
<div class="input-group">
  <input type="text" [(ngModel)]="addPatientDoctorId" class="input" (input)="checkInputValue('doctorId')"/>
  <label class="input-label" [class.input-filled]="addPatientDoctorId !== ''">DoctorId</label> 
</div>  
  <button (click)="addPatient(); clearInput()" class="button-style">Add Patient</button>
</body>
